<!DOCTYPE html>
<html>
  <head lang="en">  
    <meta charset="UTF-8">
    <meta name="author" content="Nierot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBS :: {{.}}</title>
    <style>
      body {
        height: 100vh;
        width: 100vw;
      }
      
    </style>
  </head>
</html>